[user]
	email = kevinmeejach@gmail.com
	name = kepet19
	signingkey = 2D3CF82D41B75758
	mail = kepet19@student.sdu.dk
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[core]
	autocrlf = input
[alias]
	st = status
	ca = commit -a
	cam = commit -am
	cm = commit -m
	ph = push
	pl = pull
	rt = restore
	br = branch
	co = checkout
	coa = checkout -b 
