.zcompdump
nvim/.config/*/plugged/
nvim/.config/*/undodir/
nvim/.config/*/spell/
nushell/.config/nushell/history.txt
windows/WindowsPowerShell/Modules/
*.spl
sway/.local/bin/amdgpu-pptable-editor-qt
.luarc.json
*.sug
nushell/.config/nushell/scripts/starship_init.nu
