/* Transparency */
 #TabsToolbar, #titlebar, #main-window, #navigator-toolbox {
	-moz-appearance: none !important;  
 	background-color: transparent !important;  
	background-image: none !important;  
    box-shadow: none !important;  
    border: none !important;  
}

