* {
    border: none;
    border-radius: 0;
    font-family: Dejavu Sans Mono for Powerline;
    font-size: 14px;
    min-height: 0;
	opacity: 0.93;
}

window#waybar {
	background-color: transparent;
	color: #949494;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#window {
    padding: 0 5px;
    background: #4a4a4a;
    color: #ff8700;

} 

#workspaces button {
    padding: 0 5px;
    background: #4a4a4a;
    color: white;
}

#workspaces button.focused {
    color: #ff8700;
}

#mode {
    background: transparent;
    color: #d05c5c;

}

#clock.time, #clock.date ,#clock.datetime, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-mpd, #mpd #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 0px;
}

#clock.time {
    background-color: #ff8700;
    color: white;
}
#clock.date {
    background-color: #ff8700;
    color: white;
}
#clock.datetime {
    background-color: #ff8700;
    color: white;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
    background: #4e4e4e;
}

#memory {
    background: #4e4e4e;
}

#network {
    background: #4e4e4e;
}

#battery {
    background: #4e4e4e;
}
#battery.warning {
    background: #4e4e4e;
	color: #D75F00;
}
#battery.critical {
    background: #4e4e4e;
	color: #870000;
}

#network.disconnected {
    /*background: transparent; */
    background: #4e4e4e;
}

#pulseaudio {
    background: #3a3a3a;
}

#pulseaudio.muted {
   /* background: #A75F00; */
    background: #3a3a3a;
    color: #2a5c45;
}

#custom-mpd {
    padding: 0 5px;
    background: #4a4a4a;
    color: white;
}
#mpd {
    padding: 0 5px;
    background: #4a4a4a;
    color: white;
}

#tray {
    background-color: #949494;
}

#idle_inhibitor {
    background-color: #949494;
    color: #2a5c45;
}

#backlight {
    background-color: #949494;
    color: #2a5c45;
}
#custom-wlogout {
    padding: 0 5px;
    padding-right: 8px;
    background: #A75F00;
	background: #ff8700;
	color: white;
}
#custom-terminal {
    padding: 0 12px 0 5px;
    font-size: 20px;
    background-color: #ff8700;
    color: white;
}

#custom-apps{
    padding: 0 5px;
    padding-right: 8px;
    background: #A75F00;
	background: #ff8700;
	color: white;
}
#custom-startRight {
	font-size: 20px;
	color: #ff8700;
	background: #949494
}
#custom-startLeft {
	font-size: 20px;
	color: #ff8700;
	background: #4a4a4a;
}

#custom-arrow1 {
	font-size: 20px;
	color: #949494;
	background: #4e4e4e
}
#custom-arrow3 {
	font-size: 20px;
	background: #4e4e4e;
	color: #949494
}
#custom-arrow4 {
	font-size: 20px;
	color: #4e4e4e;
	background: #3a3a3a
}
#custom-arrow5 {
	font-size: 20px;
	color: #3a3a3a;
	background: transparent;
}
#custom-arrow6 {
	font-size: 20px;
	color: #4a4a4a;
	background: transparent;
}
#custom-arrow7 {
	font-size: 20px;
	color: #949494;
	background: #4a4a4a;
}
#custom-arrow8 {
	font-size: 20px;
    color: white;
	background: #949494;
}
#custom-arrow9 {
	font-size: 20px;
	background: transparent;
	color: #ff8700;
}
#custom-arrow10 {
	font-size: 20px;
	background: transparent;
	color: #ff8700;
}
