* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* min-height: 30px; */
}

window#waybar {
    background: rgba(100, 100, 255, 0.18);
}

window#waybar.hidden {
    opacity: 0.0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    background: rgba(150, 150, 150, 0.8);
    border-bottom: 2px solid #0199D7;
}
#workspaces button:hover {
    border-bottom: 2px solid #0080C0;
}
#workspaces button.urgent {
    background: rgba(255, 90, 90, 0.8);
    border-bottom: 2px solid #ff6600;
}


#taskbar  {
    padding: 0 10px;
    margin: 0 5px;
}

#taskbar button {
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    border-bottom: 2px solid transparent;
}
#taskbar button.active {
    background: rgba(150, 150, 150, 0.4);
    border-bottom: 2px solid #0199D7;
}
#taskbar button:hover {
    border-bottom: 2px solid #0080C0;
}

#mode {
    background: #64727D;
    border-bottom: 1px solid #ffffff;
}

#clock, #battery, #cpu, #custom-gpu-usage , #memory, #temperature, #backlight, #network,
#pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
    background: rgba(150, 150, 150, 0.4);
}

#clock {
}

#battery {
    color: #10EE10;
}

#battery.charging {
    color: #ff7700;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ff1010;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: #675852;
}

#custom-media {
    color: #2a5c45;
}


#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}


#custom-space {
    padding: 0 3px;
    background: transparent;
}
#custom-apps {
    font-size: 24px;
    padding: 0 3px;
    margin: 0px 5px 0px 5px;
    background: transparent;
    color: #ffffff;
}
