/** Configured For Applets **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
/*  location: 5; */
/*  yoffset: -50; */
/*  xoffset: -20; */
	me-select-entry: "MouseSecondary";
	me-accept-entry: "MousePrimary";
	kb-cancel: "Escape,Control+g,Control+bracketleft,q";
}
