@-moz-document url(chrome://browser/content/browser.xhtml) {
	/* tabs on bottom of window */
	/*
	  we want to move #navigator-toolbox, but since FF72, it is wrapped in
	  a `box` element that has no identifier. we would like to use:
	    box:has(#navigator-toolbox) { -moz-box-ordinal-group: 10; }
	  but :has isn't a "live selector", so we can't use it in stylesheet
	  context. instead, we use this hack:
 	#navigator-toolbox { -moz-box-ordinal-group: 10; }
	*/
 	#mainPopupSet ~ box { -moz-box-ordinal-group: 10; }
	#titlebar { -moz-box-ordinal-group: 10; }
	.urlbarView {
		top: unset !important;
		bottom: 69px !important;
		box-shadow: none !important;
	}
	.search-one-offs { display: none !important; }
	.tab-background { border-top: none !important; }
	#navigator-toolbox::after { border: none; }
	#TabsToolbar .tabbrowser-arrowscrollbox,
	#tabbrowser-tabs, .tab-stack { min-height: 28px !important; }
	.tabbrowser-tab { font-size: 80%; }
	.tab-content { padding: 0 5px; }
	.tab-close-button .toolbarbutton-icon { width: 12px !important; height: 12px !important; }
}


/*
 * Bookmarks toolbar is visible only on new tab page, just like Chrome.
 *
 * Screenshot: https://vimeo.com/235059188
 * Video: https://vimeo.com/240436456
 *
 * Contributor(s): https://www.reddit.com/user/AJtfM7zT4tJdaZsm and Andrei Cristian Petcu
 *                 https://www.reddit.com/r/FirefoxCSS/comments/7evwow/show_bookmarks_toolbar_only_on_new_tab/
 */
#main-window #PersonalToolbar {
  visibility: collapse !important;
}

#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Nightly"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
#main-window[title^="Firefox"] #PersonalToolbar,
#main-window[title^="新标签页"] #PersonalToolbar,
#main-window[title^="Customize Firefox"] #PersonalToolbar {
  visibility: visible !important;
}

